<h2>Smelly Potatoes Movies</h2>

<hr>
<%= render partial: "movie_form", locals: { movie: Movie.new } %>
<hr>

<h3>Movie List</h3>

<table data-content = "movies" >

  <thead>
    <th>Title</th>
    <th>Release Date</th>
  </thead>
  <tbody>

    <%# render @posts %>

  </tbody>

</table>
